<!DOCTYPE html>
<html>
<head>
    <title>All Entries</title>
</head>
<body>
    <h2>Database Records</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Colony</th>
            <th>Timestamp</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Add New Entry</a>
</body>
</html>